<?php include ROOT . "app/templates/_parts/_admin-panel.tpl"; ?>

<div class="stickyFooter">
    <header class="section-header">
        <div class="section-header__content">
            <a class="control-panel__title-wrapper" href="<?=HOST?>">
                <h2 class="section-header__content-title">Digital Nomad</h2>
                <p class="section-header__content-subtitle">cайт IT специалиста</p>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a class="nav__list-item-link" href="about.html">Обо мне</a></li>
                    <li class="nav__list-item"><a class="nav__list-item-link" href="portfolio.html">Портфолио</a></li>
                    <li class="nav__list-item"><a class="nav__list-item-link" href="<?=HOST?>blog">Блог</a></li>
                    <li class="nav__list-item"><a class="nav__list-item-link" href="<?=HOST?>contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>